<html>
<header>
  <title>CGHS Robotics Part Library</title>
  <link rel="stylesheet" href="./index.css">
</header>

<body>
  <script type='importmap'>
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3.2.41/dist/vue.esm-browser.js"
      }
    }
  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="module">
    import { createApp, ref } from 'vue';
    import * as file from './index.js';
    createApp({
      setup() {
        document.getElementById("app").hidden = false;
        return file;
      }
    }).mount('#app')
  </script>
  <div id='app' hidden=true>
    <div class='document-path-div'>
      <li v-for="folder in docpath" class='document-path'>
        <span @click="IndexFolder(folder.id,folder.resourceType)">
          {{folder.name}}
        </span>
      </li>
    </div>
    <div class='document-list'>
      <li v-for="doc in documents">
        <span v-if="doc.jsonType == 'folder'" @click="IndexFolder(doc.id)">
          <div class='document doc-folder'>
            <b class="left">{{doc.name}}</b>
            <b class="right">{{doc.description}}</b>
          </div>
        </span>
        <span v-else-if="doc.jsonType == 'document-summary'" @click="OpenDocument(doc.id,doc.name)" class="span-document">
          <div class="thumbnail-container">
            <img v-if="doc.thumbnail != null" class="thumbnail" :src="join(baseURL, doc.thumbnail)"></img>
          </div>
          <div class='document doc-part'>
            <u class="left">{{doc.name}}</u>
            <p class="right">{{doc.description}}</p>
          </div>
        </span>
      </li>
    </div>
    <div v-if="documents.length > 2 && documents.length%50 == 0" class='loadmore-container'>
      <button class='loadmore' @click="LoadMore">
        Load More
      </button>
    </div>
    <div v-if='sharingDocument' class='share-doc'>
      <div class='share-doc-top-bar'>
        <button @click="CloseSharing" class='share-doc-close'>✕</button>
        <div class="share-doc-header-div"><header class="share-doc-header">Get File</header></div>
      </div>
      <div class='share-doc-body'>
        <div class='share-doc-email-div'>
          <p class='share-doc-direct'>Click download to download the document as an stl. Some documents may not be able to be downloaded. Downloads may take up to 10 seconds.</p>
          <!-- <input class='share-doc-input' v-model="shareEmail" type='text'> -->
        </div>
        <button class='share-doc-button' @click="ShareDocument">DOWNLOAD</button>
        <div class="tmp-response-container">
          <span v-show="Warn != ''" class="tmp-response warn">{{Warn}}</span>
          <span v-show="Confirm != ''" class="tmp-response confirm">{{Confirm}}</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>